// Primary
$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);

// Neutral
$white: hsl(0, 0%, 100%);
$light-grayish-blue: hsl(211, 68%, 94%);
$grayish-blue: hsl(219, 14%, 63%);
$dark-grayish-blue: hsl(219, 12%, 42%);
$dark-blue: hsl(224, 21%, 14%);
$radius:.6em;

