@use "./_vars" as var;

*{
  margin: 0;
  padding: 0;
}
body{
  padding-top: 1em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: var.$light-grayish-blue;
}

.App{
  max-width: 800px;
  padding:1em;
  border-radius: var.$radius;
  margin: auto;
  background: var.$white;
}