
/* Nivel de fortaleza */
.strength {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 5px;
}

/* Estilos para cada nivel de fortaleza */

#strength div span.strength-1 {
  background-color: rgb(255, 95, 95);
}

#strength div span.strength-2 {
  background-color: rgb(255, 184, 54);
}

#strength div span.strength-3 {
  background-color: rgb(255, 255, 94);
}

#strength div span.strength-4 {
  background-color: rgb(126, 255, 93);
}
