@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;800;900&display=swap');
:root{
    --blue:#08D9D6;
    --dark:#252A34;
    --pink:#FF2E63;
    --white:#EAEAEA;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background: var(--white);
}

nav{
    background:var(--blue);
    width: 100%;
    height: 60px;
    color:var(--dark);
    position: relative; 
    display: flex;align-items: center;justify-content: center;
    text-align: center;
}

.logo{
    position: relative;
    display: flex;
        align-items: center;
        justify-content: center;
}
h1{
    font-size: 2rem;
    height: 60px;
}

h1 span{
    font-size: 2.6rem;
    text-shadow: 2px 2px 5px #252a3498;margin-right: 5px;
    color:var(--white);
}

.autor{
    background: var(--blue); color:var(--white); font-weight: 600;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    height: 20px;
    width: 120%;
    bottom:-20px;
    position: absolute;
    filter: brightness(1);
    
}



/* main  */


