main {
    padding-top: 30px; position: relative;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 1em;
}

.project{
    overflow: hidden;
    outline: 2px solid var(--dark); border-radius: .5em; position: relative;
    height: 300px;
    transition: .2s transform;
    display: grid; grid-template-rows: 70% 1fr;
    /* box-shadow: 0em 0em 0 var(--dark); */
}


.project__header{
    
    display: grid;
    /* grid-template-columns: 1fr 50px; */
    height: 220px;
    overflow: hidden;
    position: relative;
}



.header__img{
    width: 100%;

}
.header__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



.info{
    position: absolute;
    background: rgba(150, 255, 253, 0.603);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 5px );
  
    height: 100%;
    width: 80px;
    right: 0;
    display: flex;flex-direction: column;align-items: center;justify-content: center;

    text-align: center;
    font-weight: bold;
    padding-top: 1em;
    color: #333;
    font-weight: 700; padding: .5em;
}

.info span{

    font-size: 3rem;font-weight: 600;
}


/* /////  */
.project__body{
    padding: 1em;
}

.project__body .title{
    font-weight: 500; font-size: 1.2rem;
}